/**
 * mms

  .chartSeries1 {
  background-color: #3890da;
}
.chartSeries2 {
  background-color: #2413bd;
}
.chartSeries3 {
  background-color: #11a348;
}
.chartSeries4 {
  background-color: #e8920b;
}
.chartSeries5 {
  background-color: #cc2c1c;
}
.chartSeries6 {
  background-color: #d0c910;
}
.chartInfoFont1 {
  color: #3890da;
}
.chartInfoFont2 {
  color: #2413bd;
}
.chartInfoFont3 {
  color: #11a348;
}
.chartInfoFont4 {
  color: #e8920b;
}
.chartInfoFont5 {
  color: #cc2c1c;
}
.chartInfoFont6 {
  color: #d0c910;
}


  color: #000;
  color: #3D3D3D;
 */

.mms .creek {
  font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #000;
}

.mms .creek .line {
  fill: none;
  stroke: #064800;
  stroke-width: 2px;
}

.mms .creek .area {
  fill: #6ba442;
}

.mms .creek text {
  color: #CCC;
  font-size: 10px;
}
